.book-card {
  border-radius: 4px;
  margin-top: 10px;
  line-height: 0.5em;
  background-color: #d17fff;
  display: flex;
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.25);
}

.book-info {
  padding: 10px;
  flex-grow: 2;
}
