.button-container button {
  border: unset;
  border-radius: 2px;
  background-color: #f9f9f9;
  width: 75px;
  height: 35px;
  cursor: pointer;
}

.button-container button:hover,
.button-container button:focus {
  background-color: #e2e2e2;
}
