.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "body body body";
  grid-template-rows: 0.2fr auto;
}

.App header {
  grid-area: header;
  text-align: center;
  margin-bottom: 25px;
  background-color: #303030;
  color: #fff;
}

#main-container {
  grid-area: body;
  display: grid;
  grid-template-areas: "users . books";
  padding: 15px;
  grid-template-columns: 0.3fr auto 0.3fr;
}

#main-container .container {
  border-radius: 4px;
}

#main-container .container h3 {
  margin: 0;
}

#main-container #users-container {
  grid-area: users;
}

#main-container #books-container {
  grid-area: books;
}
