.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "body body body";
  grid-template-rows: 0.2fr auto;
}

.App header {
  grid-area: header;
  text-align: center;
  background-color: #303030;
  color: #fff;
}

#main-container {
  grid-area: body;
  display: grid;
  grid-template-areas: "users . books";
  padding: 15px;
  grid-template-columns: 1fr 0.3fr 1fr;
}

#main-container .container {
  border-radius: 4px;
  align-self: self-start;
  margin: 5px;
}

#main-container .container h3 {
  margin: 0px 0px 0px 3px;
}

#main-container #users-container {
  grid-area: users;
}

#main-container #books-container {
  grid-area: books;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.items-center {
  align-items: center;
}

.main-container-scroll {
  max-height: calc(100vh - 175px);
  overflow-y: auto;
  margin-top: 15px;
  padding: 0px 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #505050;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}